# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!CMakeLists.txt

!output/
output/*
!output/ipdps_ocs_run_multiple.sh

!topology/
topology/*
!topology/*.py
